.contenedorX {
    background-color: black;
    width: 1000px;
    margin: 0 auto;
}

.yo {
    color: white;
    text-align: center;
}

.contenedor0 {
    text-align: center;
    width: 100px;
    height: 60px;
    border: 10px outset black;
    background-color: orangered;
    border-radius: 10px;
}

.contenedor1 {
    width: 920px;
    background-color: lawngreen;
    border-radius: 10px;
    padding: 10px;
}

.cuadro0,
.cuadro1 {
    border: 10px outset blue;
    border-radius: 2vh;
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55vh;
    height: 5vh;
    margin-bottom: 20px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.cuadro0:hover,
.cuadro1:hover {
    background-color: darkorange;
}

.sub0,
.sub1 {
    border: 10px outset blue;
    border-radius: 2vh;
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55vh;
    height: 5vh;
    margin-bottom: 10px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.sub0:hover,
.sub1:hover {
    background-color: deepskyblue;
}

.sub-item-container {
    margin-top: 10px;
    margin-bottom: 20px;
}

ol {
    padding-left: 20px;
}

ol li {
    list-style-type: none;
}

h1,
h2 {
    color: white;
}

h2 {
    text-decoration: underline;
    text-align: center;
}