html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    font-family: Arial, sans-serif;
    background-color: #FFF;
}

header {
    background: rgb(25, 124, 25);
    padding: 20px 30px;
    max-width: 940px;
    margin: auto;
    color: #FFF;
}

nav {
    display: inline-block;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a {
    background: #EEE;
    padding: 2px 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: blue;
    /* Mantener color azul como en el HTML */
    border-radius: 10px;
}

nav ul li a:hover {
    background: #FFF;
}

#rosado {
    background-color: rgb(226, 60, 148);
    padding: 20px;
    margin: 10px 0;
    color: #FFF;
}

footer {
    background: grey;
    max-width: 1000px;
    margin: auto;
    clear: both;
    text-align: right;
    padding: 20px;
    color: #FFF;
}

address {
    padding: 10px 0;
}

#logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-right: 75px;
    color: #FFF;
}

body>section {
    max-width: 1000px;
    margin: auto;
    padding: 30px 0;
    border-bottom: 1px solid #999;
    color: #333;
}

@media screen and (max-width: 1000px) {
    body>section {
        padding: 30px 20px;
    }
}

@media screen and (max-width: 600px) {
    main {
        float: none;
        width: 100%;
    }

    aside {
        float: none;
        width: 100%;
    }
}