h1 {
    background-color: white;
    color: aqua;
}

h2 {
    background-color: white;
    color: darkmagenta;
}

span {
    font-weight: bold;
}

code {
    background-color: white;
    color: blue;
}

h3 {
    font-style: italic;
}

.class {
    text-transform: uppercase;
    color: gray;
}

#codigo {
    color: forestgreen;
}

#mihoja {
    color: red;
}