table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

caption {
    border-radius: 18px;
    border: 4px solid black;
    color: white;
    background-color: darkmagenta;
    font-size: 30px;
    padding: 0.5%;
    font-family: sans-serif;
}

th,
td {
    text-align: center;
    vertical-align: middle;
    width: 10%;
    padding: 2%;
    border: 5px outset;
    border-radius: 5px;
}

.empty-cell {
    background-color: white;
    border: none;
}

.dias {
    background-color: deepskyblue;
    color: black;
    font-weight: bold;
    border-radius: 10px;
}

.horario {
    background-color: navy;
    color: white;
    font-weight: bold;
}

.seg-inf {
    background-color: lightcoral;
}

.serv-red {
    background-color: lightgreen;
}

.sor {
    background-color: lightblue;
}

.ap-web {
    background-color: lightgoldenrodyellow;
}

.empresa {
    background-color: lightpink;
}

.ingles {
    background-color: lightcyan;
}

.recreo {
    background-color: khaki;
    font-weight: bold;
    text-align: center;
}

.modulos {
    background-color: whitesmoke;
}

.seg-inf:hover,
.serv-red:hover,
.sor:hover,
.ap-web:hover,
.empresa:hover,
.ingles:hover,
.modulos:hover {
    background-color: darkgrey;
    color: white;
    cursor: pointer;
}

.recreo:hover {
    background-color: goldenrod;
}

.seg-inf span,
.serv-red span,
.sor span,
.ap-web span,
.empresa span {
    visibility: hidden;
}

.seg-inf:hover span,
.serv-red:hover span,
.sor:hover span,
.ap-web:hover span,
.empresa:hover span {
    visibility: visible;
}

span a {
    color: blue;
    text-decoration: none;
}