table {
    text-align: center;
}

caption {
    border-radius: 18px;
    border-color: black;
    color: white;
    background-color: darkmagenta;
    font-size: 30px;
    padding: 0.5%;
    font-family: sans-serif;
    border: 4px solid black;
}

thead {
    border-collapse: collapse;
    border: 4px;
    padding: 10px;
    border: 10px solid black
}

.dias {
    background-color: deepskyblue;
}

.horario {
    background-color: rgb(14, 14, 165);
    color: white;
}